body {
	background-color: lightyellow;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	color: black;
	text-transform: uppercase;
	
	text-align: center;
}

.p1 {
	color: yellow;
	font-size: 24px;
	padding-bottom: 25px;	
}
.current-time {
	font-family: "Times New Roman", Times, serif;
	color: #3b5598;
	text-align: center;
	font-size: 25px;
}
input [type="password"]
{
	padding: 200px;
}

button {
	cursor: pointer;
	border-radius: 5px;
	margin-top: -10px;
	margin-left: 140px;
	background-color: #1F75fe;
	color: white;
	padding: 4px 6px;
	border: pointer;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	align-content: center;
}

form {
	width: 450px;
	height: 70px;
	border-color: #3b5998;
	background-color: white;
	color: black;
	margin-left: 530px;
	margin-top: 50px;
	margin-bottom: 100px;
	padding-top: 5px;
	padding-bottom: 40px;
}

username-box {
	display:flex;
	justify-content: center;
	align-content: center;
	font-size: 24px;
}

a {
	color: #3b5998;
	font-size: 25px;
	margin-top: -100px;
	padding-left: 740px;
	text-align: center;
}
.container{
	height: 100px;
	position: relative;
	padding: 100px;
	padding-left: 25%;
	padding-right: 25%;
	border: 2px solid green;
}

span {
	margin-left: 20px;
	color: black;
	font-size: 24px;
	font-weight: bold;
}

a-homelink {
	margin-top: -100px;
}